Coursework/config-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MySQL">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="host"/>
              <xs:element type="xs:string" name="username"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:string" name="database"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="keys">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="map"/>
              <xs:element type="xs:string" name="weather"/>
              <xs:element type="xs:string" name="flickr"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
